.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.bash_history
.oracle_jre_usage/
.ssh/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox\ VMs/
Workspace/
