.AndroidStudio*/
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.android/
.anyconnect
.atom/
.bash_history
.cache/
.cisco/
.config/
.cups/
.docker/
.eclipse/
.emulator_console_auth_token
.gconf/
.gconfd/
.gitbook/
.gnupg/
.gradle/
.hwid
.local/
.m2/
.node-gyp/
.npm/
.npmrc
.pm2/
.oracle_jre_usage/
.repoconfig/
.sh_history
.sqlite_history
.ssh/
.subversion/
.swt/
.vim/undodir/
.viminfo
.wget-hsts
.yarnrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox\ VMs/
Workspace/
